@model IEnumerable<EmergencyServices.Models.ContactDetail>

@{
    ViewBag.Title = "ContactList";
}

<h2>Contact List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Msg)
        </th>
        <th> Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Msg)
        </td>
        <td>
           
            <span class="btn btn-warning"> @Html.ActionLink("Delete", "Delete", new { id = item.id })</span>
        </td>
    </tr>
}

</table>


<br/>

<a href="@Url.Action("Work","Admin")" class="btn btn-danger"> Back to Dashbaord </a>